/* general */
*{
    margin:0;
    
}
body{
    background-color: black;
    height: 100%;
}

/* for index.html */

.highlight{
    color: dodgerblue;
    font-family: cursive;
}
.index-img{
    height: 600px;
    width: auto;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: aqua;
}



/* for brownies.html */

.title-brownies{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
    font-family: cursive;
}