/* general */
*{
    margin:0;
    
}
body{
    background-color: black;
    height:100vh;
}

p,li,h1,h4,h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.teleport{
    margin-top: 10px;
}
h2{
    color: tomato;
}
h3{
    color: burlywood;
}
h4{
    color: lightcoral;
}

/* for index.html */

.highlight{
    color: dodgerblue;
    font-family: cursive;
}
.index-img{
    height: 600px;
    width: auto;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: aqua;
}



/* for brownies.html */

.title-brownies, .title-desserts,.title-cookies{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: cursive;
    color: bisque;
}

.title-brownies{
    color: brown;
}
.title-desserts{
    color:rgb(255, 255, 159)
}
.title-cookies{
    color: bisque;
}
.img-brownies,.img-desserts,.img-cookies{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Dessert page */
.container{
    background-color: black;
    padding-bottom: 20px;
}